{% extends 'base.html' %} {% block content %}
<br />

{% if user.is_authenticated %}
<h1>Records</h1>
{% if records %}
<ul>
  {% for record in records %}
  <li>{{ record }}</li>
  {% endfor %}
</ul>
{% else %}
<p>No records found.</p>
{% endif %} {% else %}
<div class="col-md-6 offset-md-3">
  <h1>Login</h1>
  <br />
  <form method="POST" action="{% url 'home' %}">
    {% csrf_token %}
    <div class="mb-3">
      <input
        type="text"
        class="form-control"
        name="username"
        placeholder="Username"
        required
      />
    </div>
    <div class="mb-3">
      <input
        type="password"
        class="form-control"
        name="password"
        placeholder="Password"
        required
      />
    </div>
    <br />
    <button type="submit" class="btn btn-secondary">Login</button>
  </form>
</div>
{% endif %} {% endblock %}
